<?xml version="1.0"?>
<launch>
    <include file="$(find the_robotics_club)/launch/mit-car.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <include file="$(find the_robotics_club)/launch/mapping.launch" />
    <include file="$(find obstacle_detector)/launch/obstacle_detector.launch" />
</launch>
